# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/data/bands/350teric/*
public/data/bands/Against Them All/*
public/data/bands/Ambroz/*
public/data/bands/Apotheosis/*
public/data/bands/Argus/*
public/data/bands/Arhont/*
public/data/bands/Better Decision/*
public/data/bands/Beyond the Horizon/*
public/data/bands/Born For Slaughter/*
public/data/bands/Carage Dominion/*
public/data/bands/Chromatic Point/*
public/data/bands/Cortex/*
public/data/bands/Cursed Heart/*
public/data/bands/Decadence/*
public/data/bands/Dedicated For Life/*
public/data/bands/Demency/*
public/data/bands/Dissidens/*
public/data/bands/Diverge/*
public/data/bands/Embryotomy/*
public/data/bands/Exotist/*
public/data/bands/Filtch/*
public/data/bands/Formless Terror/*
public/data/bands/Furion/*
public/data/bands/Gears/*
public/data/bands/Hall Od Sins/*
public/data/bands/Hardfaced/*
public/data/bands/Harkem/*
public/data/bands/Holocaust/*
public/data/bands/MA/*
public/data/bands/Maras/*
public/data/bands/Morbiles/*
public/data/bands/Mortality/*
public/data/bands/My Darkest Time/*
public/data/bands/Nihilist/*
public/data/bands/Orion/*
public/data/bands/Point Blank/*
public/data/bands/Sanatorium/*
public/data/bands/Scattered/*
public/data/bands/Serpentine Fire/*
public/data/bands/Shock Troopers/*
public/data/bands/Siniac/*
public/data/bands/Skullcrush/*
public/data/bands/Smut/*
public/data/bands/Spectrum/*
public/data/bands/Station- Innermost/*
public/data/bands/Trendkill/*
public/data/bands/Verka/*
public/data/bands/Victim Yield/*
public/data/bands/Volos/*
public/data/bands/Warnament/*
public/data/bands/Zulu 3.4/*
